@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, #root {
  min-height: 100dvh;
}

p {
  text-wrap: pretty
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

img, video, svg {
  max-width: 100%;
  height: auto;
}

.ant-tabs-content, .ant-tabs-content > div {
  height: 100%;
}

.lucide {
  vertical-align: middle;
}
